{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}TTN Munich Platform - Node Watchdog{% endblock %}

{% block content %}
<div class="container">
	<h2>TTN Munich Node Watchdog</h2>
	<hr>
	{% with messages = get_flashed_messages(with_categories=true) %}
    	{% if messages %}
        	{% for category, message in messages %}
            	<div class="alert alert-{{ category | replace('message', 'info') }}" role="alert">
            		{{ message }}
            	</div>
        	{% endfor %}
    	{% endif %}
	{% endwith %}

	<div class="row">
        <div class="col-md-4">
			<form method="POST">
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

</div>
{% endblock %}
